/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(166, 166, 166);
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #830abb6c;
  transition: all 0.4s ease;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #830abbae;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

main {
  width: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
  padding: 50px 20px;
}

@layer components {
  .service__card h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 5px;
    background: #830abb;
    transform: scaleX(0) skew(-15deg);
    transform-origin: bottom left;
    transition: transform 0.8s ease-in-out;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .service__card h3.underline-active::after {
    transform: scaleX(1) skew(-20deg);
  }

  .portfolio__article {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .portfolio__article:nth-child(odd) {
    transform: translateX(-50px);
  }
  .portfolio__article:nth-child(even) {
    transform: translateX(50px);
  }
  .portfolio__article.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .about__members {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .about__members.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .about__members h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 5px;
    background: #830abb;
    transform: scaleX(0) skew(-15deg);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .about__members h3.underline-active::after {
    transform: scaleX(1) skew(-20deg);
  }
  .about__members ul li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  .about__members ul li.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .questions__item {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .questions__item.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #830abb;
    transform: scaleX(0) skew(-15deg);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .nav-link-active::after {
    transform: scaleX(1) skew(-15deg);
  }

  .nav-link-active {
    color: #ffffff !important; /* Use !important to ensure it overrides */
  }
}
